@import "tailwindcss";

:root {
  --background: #e6e6e6;
  --foreground: #171717;

  --accent-orange: #ff802b;
  --accent-red: #ff0201;
  --surface: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-accent-orange: var(--accent-orange);
  --color-accent-red: var(--accent-red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #101011;
    --foreground: #ededed;

    --surface: #1f1825;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
    background-color: #f5b603;
    background-image: url(/thumbnails/dhelangan.png);
    background-position: right -20px center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-origin: content-box;
    background-blend-mode: soft-light;
}