@import '../styles/_variables.scss';
@import '../styles/_keyframe-animations.scss';

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



:root {
  --background: #e6e6e6;
  --foreground: #171717;

  --accent-orange: #ff802b;
  --accent-red: #ff0201;
  --surface: #ffffff;
}


:root.dark {
  --background: #101011;
  --foreground: #ededed;

  --surface: #1f1825;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-surface: var(--surface);
  --color-accent-orange: var(--accent-orange);
  --color-accent-red: var(--accent-red);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.intro {
  background-color: #f5b603;
  background-image: url(/thumbnails/dhelangan.png);
  background-position: right -20px center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-origin: content-box;
  background-blend-mode: soft-light;
}

.banner {
    align-items: center;
    display: block;
    width: 100vw;
    box-sizing: border-box;
    position: sticky;
    margin-left: calc(50% - 50vw);
}

.banner p {
  display:none;
}

.about-us {
    background-blend-mode: luminosity;
    background-color: #40989c;
    background-image: url(/thumbnails/banner4.png);
    background-position-x: right -20px;
    background-position-y: -150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
}

.services {
  background-blend-mode: luminosity;
    background-color: #6ac144;
    background-image: url(/thumbnails/banner3.png);
    background-position:bottom top -90px;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    background-origin: content-box;
}

.portfolio {
  background-blend-mode: luminosity;
    background-color: #ebc321;
    background-image: url(/thumbnails/banner2.png);
    background-position: bottom top -20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-origin: content-box;
}

.news {
  background-blend-mode: luminosity;
    background-color: #ff0201;
    background-image: url(/thumbnails/banner1.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100vw;
    background-attachment: fixed;
    background-origin: content-box;
}

.shop, .contact, .privacy-policy {
    background: #535353;
    background-origin: content-box;
}

